---
import Button from '../components/Button.astro';

interface CallToAction {
  text: string;
  href: string;
  icon?: string;
}
interface Props {
  cta?: CallToAction;
}

const { cta } = Astro.props;
---

<main
  class="relative z-20 pt-14 md:p-10 md:mx-auto shadow-lg
      bg-darker-purple bg-gradient-to-t from-darker-purple from-80% to-cherry
        md:bg-gradient-to-tl md:from-60% md:to-95%"
>
  <div
    class="lg:flex lg:gap-40 h-[700px] lg:items-center lg:py-0 md:py-20 py-12 grid grid-rows-2
          md:w-[80%] md:mx-auto gap-16"
  >
    <div class="flex flex-col p-10 items-center justify-center md:items-start">
      <h1 class="m-0 text-4xl font-semibold md:text-5xl">
        <slot name="title" />
      </h1>
      <div class="my-8 text-xl text-light-purple md:text-2xl">
        <slot name="subtitle" />
      </div>
      {cta && <Button {...cta}>{cta?.text}</Button>}
    </div>
    <slot />
  </div>
</main>
