---
import Button from '../components/Button.astro';

interface CallToAction {
  text: string;
  href: string;
  icon?: string;
}
interface Props {
  cta?: CallToAction;
}

const { cta } = Astro.props;
---

<main
  class="relative z-20 p-10 flex items-center justify-center md:p-20 shadow-lg min-h-[700px]
      bg-darker-purple bg-gradient-to-t from-darker-purple from-80% to-cherry
        md:bg-gradient-to-tl md:from-60% md:to-95%"
>
  <div class="grid grid-rows-2 md:grid-cols-2 md:grid-rows-1
          max-w-7xl gap-16 md:gap-40">
    <div class="flex flex-col items-center justify-center md:items-start">
      <h1 class="m-0 text-4xl font-semibold md:text-5xl">
        <slot name="title" />
      </h1>
      <div class="my-8 text-xl text-light-purple md:text-2xl">
        <slot name="subtitle" />
      </div>
      {cta && <Button {...cta}>{cta?.text}</Button>}
    </div>
    <slot />
  </div>
</main>
