---
import { Image } from 'astro:assets';
import wblogo from '@assets/images/ui/wb_logo.svg';

const {flexDirection = 'flex-col md:flex-row md:gap-2'} = Astro.props;
---

<div class="inline-flex h-full w-fit flex-wrap items-center justify-center gap-3 md:justify-start">
  <Image
    class="md:max-w-36 max-w-44 w-auto h-full max-h-44 md:max-h-36"
    src={wblogo}
    alt="Wildberries"
    loading="eager"
  />
  <h1
    class={`m-0 flex w-fit ${flexDirection} flex-wrap content-center text-pink items-start justify-start md:items-center`}
  >
    <span class="font-semibold tracking-wide">Wildberries</span>
    <slot name="concat"/>
  </h1>
</div>
