---
import Logo from '@components/Logo.astro';
import Chip from '@components/Chip.astro';
import SearchBar from './SearchBar.astro';

export interface Props {
  port?: string;
  search?: boolean;
  solid?: boolean;
}

const { port, search = false, solid = false } = Astro.props;
---

<header id="header" class=`fixed top-0 z-30 h-20 ${search && 'pb-5'} ${solid && 'bg-darker-purple'} md:pb-0 w-screen transition-all duration-100 ease-in`>
  <div class="m-auto max-w-7xl w-full flex flex-col md:flex-row h-full ">
    <a
      href="#top"
      class=`flex h-full w-full md:w-fit ${!search && 'm-auto'} flex-col md:flex-row flex-nowrap content-center items-center justify-center py-4 text-xl text-pink transition-colors ease-out hover:text-light-purple`
    >
      <Logo>
        {
          port && (
            <span slot="concat" class="text-sm">
              for <Chip value={port} variant="secondary" />
            </span>
          )
        }
      </Logo>
    </a>
    {search && (
      <SearchBar />
    )}
  </div>
</header>

<script>
    let lastKnownScrollPosition = window.scrollY;
    let ticking = true;

    function applyHeaderStylesOnScroll() {
      const header = document.getElementById('header') as HTMLDivElement;
      if (lastKnownScrollPosition > 60 && !header.classList.contains('scroll')) {
        header.classList.add('scroll');
      } else if (lastKnownScrollPosition <= 60 && header.classList.contains('scroll')) {
        header.classList.remove('scroll');
      }
      ticking = false;
    }

    applyHeaderStylesOnScroll();

    document.addEventListener('scroll', function () {
      lastKnownScrollPosition = window.scrollY;
      if (!ticking) {
        window.requestAnimationFrame(() => {
          applyHeaderStylesOnScroll();
        });
        ticking = true;
      }
    })
</script>
